.lightbox-container {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.65);
}

/* Style the modal content (image) */
.img-lightbox {
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

/* Add animation */
.img-lightbox {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.0s;
    animation-name: zoom;
    animation-duration: 0.5s;
}

.lightbox {
    cursor: pointer;
    width: 100%;
}

#img01 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@-webkit-keyframes zoom {
    from { -webkit-transform: scale(0) } 
    to { -webkit-transform: scale(1) }
}

@keyframes zoom {
    from { transform: scale(0) } 
    to { transform: scale(1) }
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 50px;
    transition: 0.3s;
    z-index: 999;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}