:root:root {
    --bg-color: rgb(255, 253, 244);
    --bg-color-light: rgba(183, 177, 150, 0.6);
    --bg-color-shaddow: rgb(183, 177, 150);
    --main-color: rgb(82, 68, 0);
    --second-color: rgb(255, 253, 244);
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: quicksand-bold;
    src: url(../fonts/Quicksand-Bold.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: 'quicksand';


}



a {
    text-decoration: none;
    color: var(--main-color);
    transition: 0.15s;
}

a:hover {
    text-decoration: none;
    color: var(--second-color);
}

p {
    margin-bottom: 1.2rem;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 38pt;
    margin: 0;
}

h1 span {
    display: block;
    font-weight: 400;
    font-size: 32px;
    position: relative;

}

h1:before {
    -webkit-text-stroke-width: 20px;
    -webkit-text-stroke-color: black;

    stroke-width: 20px;
}

h2 {
    font-size: 42px;
}


header {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    background-color: #333;
    color: white;
    text-align: center;
    /* box-shadow: 0 15px 15px var(--bg-color-shaddow); */
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3vh;
    background: linear-gradient(to top , var(--bg-color), rgba(255, 0, 0, 0));
    left: 0;
}
.navmain {
    position: fixed;
    z-index: 999 !important;
    padding: 2rem 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-color-light);
    transition: 0.2s;
}

.navmain {
    display: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0 3rem;
    font-size: 20px;
    color: var(--second-color);
}

section {
    padding: 10rem 0;
    position: relative;
}

.section1:before {
    content: '';
    background-image: url(../images/bgimg.jpg);
    background-position: fixed;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: cover;
}

.row {
    display: flex;
    margin: auto !important;
    width: 100%;
    max-width: 1620px;
    flex-wrap: wrap;
    gap: 2rem 0;
}

.row.space-between {
    justify-content: space-between;
}

.mobilnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: var(--bg-color);
    display: flex;
    justify-content: end;
    align-items: center;
}

.mobilnav img {
    height: 1.7rem;
    margin-right: 1rem;
}


.mobilnav ul {
    display: block;
    background-color: var(--bg-color-light);
    height: 100vh;
    position: absolute;
    max-width: 70%;
    width: 70%;
    right: -70%;
    top:0;
    transition: ease-in-out 0.5s;

    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
    unicode-bidi: unset;

}

.mobilnav ul li {
    padding: 2rem;
}

#navbtnclose {
    position: absolute;
    left: 0;
    width: 30%;
    top: 0;
    height: 100vh;
}

img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;

}

.image-container {
    position: relative;
    transition: 0.3s;
    opacity: 0.5;
}

.image-container img {
    border-radius: 1rem;
}

.image-container:hover {
    opacity: 1;
}

.image-container::after {
    border-radius: 1rem;
    content: '';
    height: 100%;
    width: calc(100% - 2rem);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0);
    z-index: -1;
}

.center {
    display: flex !important;
    margin: auto;
}

.gallery img{
    max-height: 25rem;
    border-radius: 10px;
}