@media screen and (min-width:760px) {
    header {
        height: 80vh;
    }
    h1 span {
        margin-left: 3rem;
    }

    h1 span::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -3rem;
        margin: auto;
        height: 2px;
        width: 2rem;
        background-color: var(--main-color);
    }

    .pfeile {
        display: flex !important;
    }
    
}