.col {
    text-align: center;
    width: 100%;
    padding: 0 1rem;
    overflow: hidden;
    display: block;
}

.col-2 {

    max-width: calc((100%/12*2) - 32px);
}

.col-3 {

    max-width: calc((100%/12*3) - 32px);
}

.col-4 {

    max-width: calc((100%/12*4) - 32px);
}

.col-5 {

    max-width: calc((100%/12*5) - 32px);
}

.col-6 {

    max-width: calc((100%/12*6) - 32px);
}

.col-7 {

    max-width: calc((100%/12*7) - 32px);
}

.col-8 {

    max-width: calc((100%/12*8) - 32px);
}

.col-9 {

    max-width: calc((100%/12*9) - 32px);
}

.col-10 {

    max-width: calc((100%/12*10) - 32px);
}

.col-11 {

    max-width: calc((100%/12*11) - 32px);
}

.col-12 {

    max-width: calc((100%/12) - 32px);
}








@media screen and (min-width: 760px) {
    .col {
        text-align: left;
    }
    .mobilnav {
        display: none;
    }
    .navmain {
        display: block;
    }
    .row {
        max-width: 90%;
    }
    .medium-col {
        padding: 0 1rem;
    }
    
    .medium-col-2 {
    
        max-width: calc((100%/12*2) - 32px);
    }
    
    .medium-col-3 {
    
        max-width: calc((100%/12*3) - 32px);
    }
    
    .medium-col-4 {
    
        max-width: calc((100%/12*4) - 32px);
    }
    
    .medium-col-5 {
    
        max-width: calc((100%/12*5) - 32px);
    }
    
    .medium-col-6 {
    
        max-width: calc((100%/12*6) - 32px);
    }
    
    .medium-col-7 {
    
        max-width: calc((100%/12*7) - 32px);
    }
    
    .medium-col-8 {
    
        max-width: calc((100%/12*8) - 32px);
    }
    
    .medium-col-9 {
    
        max-width: calc((100%/12*9) - 32px);
    }
    
    .medium-col-10 {
    
        max-width: calc((100%/12*10) - 32px);
    }
    
    .medium-col-11 {
    
        max-width: calc((100%/12*11) - 32px);
    }

    .medium-col-12 {
    
        max-width: calc((100%/12*11) - 32px);
    }
}


@media screen and (min-width: 1364px) {

    .giant-col {
        padding: 0 1rem;
    }
    
    .giant-col-2 {
    
        max-width: calc((100%/12*2) - 32px);
    }
    
    .giant-col-3 {
    
        max-width: calc((100%/12*3) - 32px);
    }
    
    .giant-col-4 {
    
        max-width: calc((100%/12*4) - 32px);
    }
    
    .giant-col-5 {
    
        max-width: calc((100%/12*5) - 32px);
    }
    
    .giant-col-6 {
    
        max-width: calc((100%/12*6) - 32px);
    }
    
    .giant-col-7 {
    
        max-width: calc((100%/12*7) - 32px);
    }
    
    .giant-col-8 {
    
        max-width: calc((100%/12*8) - 32px);
    }
    
    .giant-col-9 {
    
        max-width: calc((100%/12*9) - 32px);
    }
    
    .giant-col-10 {
    
        max-width: calc((100%/12*10) - 32px);
    }
    
    .giant-col-11 {
    
        max-width: calc((100%/12*11) - 32px);
    }

    .giant-col-12 {
    
        max-width: calc((100%/12*11) - 32px);
    }



    .giant-suffix-1 {
        margin-left: calc(100%/12);
    }
}







@media screen and (min-width: 1620px) {
    .row {
        max-width: 1620px;
    }
    .full-col {

        padding: 0 1rem !important;
    }
    
    .full-col-2 {
    
        max-width: calc((100%/12*2) - 32px) !important;
    }
    
    .full-col-3 {
    
        max-width: calc((100%/12*3) - 32px) !important;
    }
    
    .full-col-4 {
    
        max-width: calc((100%/12*4) - 32px) !important;
    }
    
    .full-col-5 {
    
        max-width: calc((100%/12*5) - 32px) !important;
    }
    
    .full-col-6 {
    
        max-width: calc((100%/12*6) - 32px) !important;
    }
    
    .full-col-7 {
    
        max-width: calc((100%/12*7) - 32px) !important;
    }
    
    .full-col-8 {
    
        max-width: calc((100%/12*8) - 32px) !important;
    }
    
    .full-col-9 {
    
        max-width: calc((100%/12*9) - 32px) !important;
    }
    
    .full-col-10 {
    
        max-width: calc((100%/12*10) - 32px) !important;
    }
    
    .full-col-11 {
    
        max-width: calc((100%/12*11) - 32px) !important;
    }

    .full-col-12 {
    
        max-width: calc((100%/12*11) - 32px) !important;
    }
}