:root:root {
    --bg-color: rgb(255, 253, 244);
    --bg-color-light: rgba(183, 177, 150, 0.85);
    --bg-color-shaddow: rgb(183, 177, 150);
    --main-color: rgb(82, 68, 0);
    --second-color: rgb(255, 253, 244);
}

@font-face {
    font-family: quicksand;
    src: url(./fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: quicksand-bold;
    src: url(./fonts/Quicksand-Bold.ttf);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: 'quicksand';
}

h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 28pt;
    margin: 0;
}

h1 span {
    display: block;
    font-weight: 400;
    font-size: 32px;
    position: relative;

}


header {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    background-color: #333;
    color: white;
    text-align: center;
    z-index: -1;
    box-shadow: 0 15px 15px var(--bg-color-shaddow);
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3vh;
    background: linear-gradient(to top , var(--bg-color), rgba(255, 0, 0, 0));
    left: 0;
}
nav {
    position: fixed;
    z-index: 99999999999 !important;
    padding: 2rem 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(82, 68, 0, 0.5);
    transition: 0.2s;
}

.navmain {
    display: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0 3rem;
    font-size: 20px;
    color: var(--second-color);
}

section {
    padding: 5rem 0;
}

.row {
    display: flex;
    margin: auto !important;
    width: 100%;
    max-width: 1620px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 0;
}

.row.space-between {
    justify-content: space-between;
}

.mobilnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: var(--bg-color);
    display: flex;
    justify-content: end;
    align-items: center;
}

.mobilnav img {
    height: 1.7rem;
    margin-right: 1rem;
}

.mobilnav ul {
    display: block;
    background-color: var(--bg-color-light);
    height: 100vh;
    position: absolute;
    width: 100%;
    right: -100%;
    top:0;
    transition: ease-in-out 0.5s;


    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
    unicode-bidi: unset;

}

#navbtnclose {
    position: absolute;
    right: 0;
    top: 10.4px;
}

img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;

}

.image-container {
    position: relative;
    z-index: 1;
}

.image-container img {
    border-radius: 1rem;
}

.image-container::after {
    border-radius: 1rem;
    content: '';
    height: 100%;
    width: calc(100% - 2rem);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0);
    z-index: -1;
}

.lightbox {
    transition: 0.3s;
}

.lightbox:hover {
    opacity: 0.8;
}

.center {
    display: flex !important;
    margin: auto;
}